
.dark-bg {
    background-color: #1c1c1c;
}
.primary-color {
	color: #FDC23F;
}
.primary-color-bg {
    background-color: #FDC23F;
}
.em-grey-btn {
    background-color: #464547;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
}
.em-grey-btn:hover {
	opacity: 0.8;
	text-decoration: none;
    color: #fff;
}
.grey-color {
	color:#464547;
}
.em-primary-btn {
	background-color: #FDC23F;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
}
.em-primary-btn:hover {
	background-color: #F2B336;
	text-decoration: none;
    color: #fff;
}
